#game {
  background-image: url('/Image/Background-01-Daytime.gif');
  width: 1300px;
  height: 750px;
  margin: 0;
}

.score {
  display: flex;
  justify-content: center;
  margin: 5%;
  padding: 5%;
  user-select: none;
  font-size: xx-large;
  font-family: 'Freckle Face', cursive;
}
.container {
  background-color: rgba(255, 255, 255, 0.5);
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 5%;
  margin-bottom: 30%;
  border-radius: 60px;
  font-family: 'Freckle Face', cursive;
}
.button {
  background-color: aqua;
  border-radius: 50px;
  border: solid aqua;
  font-size: x-large;
  padding: 20px;
  font-family: 'Freckle Face', cursive;
}
.button:hover {
  background-color: blue;
  border: solid blue;
  color: aliceblue;
  font-family: 'Freckle Face', cursive;
}
#character {
  content: url('/Image/running\ man.gif');
  width: 150px;
  height: 150px;
  position: relative;
  top: -220px;
  left: 410px;
}

.animate {
  animation: jump 500ms;
}
@keyframes jump {
  0% {
    top: 300px;
  }
  30% {
    top: 200px;
  }
  70% {
    top: 200px;
  }
  100% {
    top: 300px;
  }
}
